.content {
  margin: 50px 0 -25px;
  background-color: $light-grey;
  padding: 0 10vw;
  overflow-x: hidden;

  img {
    width: 100vw;
    margin: 0 -10vw;
  }

  p {
    font-family: $serif-font;
    font-size: 14px;
    margin: 2px auto 16px auto;
    color: #303030;
  }

  ol {
    margin-bottom: 18px;
  }

  ul {
    margin-bottom: 18px;
  }
}

.small {
  width: 80%;
  height: 80%;
}

@media only screen and (min-width: 900px) {
  .third {
    display: flex;
  }

  .third img {
    width: calc(80 / 3) vw;
    height: calc(80 / 3) vw;
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .half {
    display: flex;
  }

  .half img {
    width: 40vw;
    height: 40vw;
    margin: 0;
  }
}
