.content {
  margin: 50px 0 -25px;
  background-color: $light-grey;
  padding: 0 10vw;
  overflow-x: hidden;

  img {
    width: 100vw;
    margin: 0 -10vw;

    @media screen and (min-width: $desktop-width) {
      max-width: 920px;
    }
  }

  p {
    font-family: $serif-font;
    font-size: 14px;
    margin: 2px auto 16px auto;
    color: #303030;
  }

  ol {
    margin-bottom: 18px;
  }

  ul {
    margin-bottom: 18px;
  }
}

img.small {
  max-width: 100%;
  margin: 0;
}

img.third {
  max-width: 100%;
  margin: 0;

  @media only screen and (min-width: 600px) {
    max-width: 33.2%;
    margin: 0 -1px;
  }
}

img.half {
  max-width: 100%;
  margin: 0;

  @media only screen and (min-width: 600px) {
    max-width: 50%;
    margin: 0 -1px;
  }
}
